{% extends "base.html" %}
{% load static %}
{% block content %}
{% for post in posts %}
<div class="card" style="width: 18rem; margin-left: 10px;">
{% if post.image %}
    <img src="{{ post.image.url }}" alt="Post image">
{% else %}
    <img src="{% static 'placeholder.png' %}" alt="Post image">
{% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <a href="/posts/{{post.id}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endfor %}
{% endblock %}