{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="" method="get">
    {{ form.as_p }}
    <p>
      <button type="submit">Search</button>
      </p>
</form>
{% for post in posts %}
<div class="card" style="width: 18rem; margin-left: 10px;">
{% if post.image %}
    <img src="{{ post.image.url }}" alt="Post image">
{% else %}
    <img src="{% static 'placeholder.png' %}" alt="Post image">
{% endif %}
  <div class="card-body">
    <h7 class="card-title">{{ post.category }}</h7>
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <a href="/posts/{{post.id}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endfor %}
<div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
  {% for page in max_pages %}
  <a href="/posts/?page={{page}}" class="btn btn-primary">{{page}}</a> 
  {% endfor %}
</div>
{% endblock %}